<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MODE -->
    <add key="Mode" value="EXTRACTUNIQUE"/>
    <!-- SCAN SEARCH  EXTRACT REDUCE FILTER SCAN EXTRACTUNIQUE-->

    <!-- General Settings-->
    <add key="NameNodeRoot" value="C:\Hastoop\NameNodes\"/>
    <add key="SearchDir" value="C:\Hastoop\MyLogDir\"/>

    <!-- SEARCH Settings-->
    <add key="SearchString" value="regex_search_string"/>
    <add key="SearchFileName" value="string"/>

    <!-- EXTRACT Settings-->
    <add key="LineExtractPath" value="C:\Hastoop\Output\extract.txt"/>
    <!-- ***************************************************** -->
    <add key="lineSearchString" value="string"/>
    <!-- non unique exact match-->
    <!-- ***************************************************** -->
    <add key="uniqueExtractRegEx" value="string"/>
    <!-- unique match, parse regex value -->
    <add key="uniquematchgroup" value="groupname"/>
    <add key="negateUniqueExtractRegEx" value="dontmatch"/>
    <!-- unique match, parse regex value -->

    <!-- SCAN Settings-->
    <add key="ScanQualifierRegex" value="regexstring"/>
    <add key="ScanExtractRegexGroup" value="groupmatch"/>
    <add key="ScanLinesResults" value="C:\Hastoop\Output\scanoutput.txt"/>

    <!-- other -->
    <add key="OutputDir" value="M:\Hastoop\Output\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>